<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="WebServerRootPath" value="c:\\inetpub\wwwroot\" />
    <add key="SSODomain" value="http://192.104.78.11:1206/SSOService.svc" />
    <add key="SSOTimeout" value="2000"/>
    <add key="TenTongCongTyApDung" value="Cục tài chính bộ quốc phòng"/>
    <add key="TitleView" value="Cổng thông tin điện tử - Cục tài chính - Bộ Quốc Phòng"/>
    <add key="ApplicationStatus" value="Demo" />
    <add key="Mailserver" value="smtp.gmail.com" />
    <add key="MailFrom" value="phongtn2010@gmail.com" />
    <add key="Pass" value="no90@thing" />
    <add key="RenderMode" value="MEMORYSTREAM" />

    <add key="ChuaDuyet" value="#f8e6d1" />
    <add key="TuChoi" value="#FF0000" />
    <add key="DongY" value="#3399FF" />
    <add key="Background" value="#FFBF00" />
    <add key="MauChuTinhTong" value="#FF0000" />
    <add key="MaPhanHe" value="8" />
    <add key="ChartImageHandler" value="privateImages=false;storage=file;timeout=20;deleteAfterServicing=false;url=/Libraries/WebCharts/;WebDevServerUseConfigSettings=true;" />
    <add key="RootPath" value="C:\\inetpub\\wwwroot\\wss" />
    <add key="FilePath" value="C:\\inetpub\\wwwroot\\wss" />
    <add key="VideoPath" value="C:\\inetpub\\wwwroot\\wss" />
    <add key="ImagePath" value="C:\\inetpub\\wwwroot\\wss" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=SERVER;Database=VIETTEL_NS;User ID=sa;Password=123456a@;" providerName="System.Data.SqlClient" />
    <!--<add name="ApplicationServices" connectionString="Server=192.168.2.5;Database=VIETTEL_KT_BK;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime  maxQueryStringLength="10000"  executionTimeout="600" maxRequestLength="200000" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CreateTable" duration="300" varyByParam="*" />
          <add name="LoadTable" duration="10" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D" decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Authenticate" timeout="2880" name="Application1" path="/Application1" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpHandlers>
      <remove verb="POST,GET" path="UploadServer.axd" />
      <add verb="POST,GET" path="UploadServer.axd" type="UploadServer" />
      <remove verb="*" path="*.asmx" />
    </httpHandlers>
    <customErrors mode="Off" >

    </customErrors>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="Wildcard Script Map-4.0_32bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
        </handlers>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="partnerBinding" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="partnerEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://192.104.78.11:1206/SSOService.svc/partner" behaviorConfiguration="partnerEndpointBehavior" binding="webHttpBinding" bindingConfiguration="partnerBinding" contract="References.ISSOPartnerService" name="partnerEndpoint" />
    </client>
   </system.serviceModel>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

 